:root {
    --main-bg-color: #61dafb;
    --primary-btn-color: #61dafb;
}

.App {
    text-align: center;
    width: 100%;
    min-height: 200vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


:root {
    text-align: center;
    width: 100vw;
    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.full_height_section{
    min-height: 85vh;
}

h1.h1_404{
font-size: 5em;
color: #6d717e;

}

.ant-btn-primary{
    background-color: var(--primary-btn-color) !important;
    border-color: var(--primary-btn-color) !important;
    color: white;
}

.site_navigation_menu {
    background-color: var(--main-bg-color) !important;
    height: 8vh !important;
    width: 100%;
    padding: 12px 20px 12px 20px !important;
    box-sizing: border-box;
}

.login_form {
    max-width: min(450px, 65vw);
    margin: 50px auto !important;
}

footer{
    bottom: 0;

    width: 100vw;
}

.login_section {
    min-height: 84vh;
}

.home_featured_offers_container{
    max-width: max(750px, 50vw);
    margin: 50px auto !important;
}

.ant-menu-item, .ant-menu-submenu-title {
    font-size: 1.2em;
}
